body {
    display: flex;
    color: rgb(255, 0, 119);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    position: relative;
}

button{
    align-items: center;
    border-radius: 50%;
}